*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav{
    display: flex;
    background-color: violet;
    justify-content: space-around;
    /* padding: 20px 0; */
    color:white;
    height: 50px;
    align-items: center;
    font-size: 20px;
    width: 100%;
   position: fixed;
   top: 0;

}

nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
}

nav ul li a{
    color: cornflowerblue;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover{
    color: blue;
}

.primary{
    background-color: blue;
    color: white;
    text-decoration: none;
    width: 135px;
    height: 30px;
    text-align: center;
   border-radius: 40%;
}
/* harburger menu */
.menu-togle{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}

.menu-togle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    z-index: 2;
}
.menu-togle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: cornflowerblue;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Animasi hamburger */
.menu-togle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-togle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-togle input:checked ~ span:nth-child(2){
    transform:rotate(45deg) translate(-1px,-1px);
}
.menu-togle input:checked ~ span:nth-child(4){
    transform:rotate(-45deg) translate(-1px,0);
}
.menu-togle input:checked ~ span:nth-child(3){
    transform:scale(0);
}


/* Jumbotron */
.jumbotron{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: cornflowerblue;
    background-image: url(../image/jumbotron-background.jpg);
    background-size: 100%;
    padding: 5px;
    border-bottom-right-radius: 40%;
    z-index: -1;
}

.jumbotron img{
    width: 40%;
    height: 100%;

}
.isi {
    margin-left: 10px;
}
.card-heading{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 35%;
 }

 /* mentors */

#mentors img{
    width: 100%;
    height: 100%;
}

#mentors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* features */
#features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
/* about */
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
}

/* contact */
.contact{
   display: flex;
   justify-content: center;
   margin: 20px;
}

.contact input{
    padding: 5px;
    margin: 5px;
}
button{
    margin: 5px;
    padding: 10px;
    background-color: violet;
}

/* aside */
aside{
   display: flex;
   flex-direction: column;
   align-items: center; 
}
.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 10px;
}
/* responsive breakpoint */
/* ukuran tablet */

@media screen and (max-width: 870px){
    nav ul{
        width: 80%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px){
    nav ul{
        position: absolute;
        right: -20px;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: violet;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        width: 50%;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }

    .jumbotron{
        margin-top: 50px;
    }
    .menu-togle {
        display: flex;
    }
    #mentors{
        flex-direction: column;
        width: 100%;
    }
    #features{
        flex-direction: column;
        width: 100%;
    }

    .about{
        flex-direction: column;
        width: 100%;
    }
    .aside{
        width: 50%;
    }
}