body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}

#about p{
    text-align: justify;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    background: #f4f4f4;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contact-list li {
    display: inline;
    margin: 0 10px;
}

.contact-list a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.contact-list a:hover {
    color: #007BFF;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}